<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--connectionString="Data Source=MILLENIUMFALCON\SQLEXPRESS;Initial Catalog=AdventureWorksLT;Integrated Security=True"-->
        <add name="AdventureWorksLT.Properties.Settings.AdventureWorksLTConnectionString"
            connectionString="Server=localhost;Database=adventureworks;Port=3306;User ID=root;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>